@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Varela Round", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media (max-width: 375) {
  html {
    font-size: 4.26667vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.45455vw;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.c-hamburger {
  z-index: 9999;
}

.c-hamburger span {
  background: #636363;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  width: 22px;
}

.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  margin: 4px 0;
}

.c-hamburger span:nth-child(3) {
  top: 0;
}

/*OPEN時の動き*/
.c-hamburger.open span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-hamburger.open span:nth-child(3) {
  top: -7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-icon {
  font-size: 30px;
  font-size: 1.875rem;
  color: #d6d6d6;
  margin-top: 16px;
  margin-top: 1rem;
}

.c-module__line {
  background: #fdb45a;
  width: 55px;
  width: 3.4375rem;
  height: 1px;
  height: 0.0625rem;
  margin: 30px auto;
  margin: 1.875rem auto;
}

.c-section-title {
  font-size: 32px;
  font-size: 2rem;
  font-family: "Varela Round", sans-serif;
  color: #636363;
  text-align: center;
}

.c-video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-about {
  margin-top: 80px;
  margin-top: 5rem;
}

.l-contact {
  margin-top: 80px;
  margin-top: 5rem;
  background: #faf9f9;
}

.l-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-works {
  background: #faf9f9;
}

.p-about__items {
  color: #636363;
  font-family: "Varela Round", sans-serif;
}

@media screen and (min-width: 768px) {
  .p-about__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-about__item {
  padding: 10px 0;
  padding: 0.625rem 0;
}

@media screen and (min-width: 768px) {
  .p-about__item {
    max-width: 50%;
    width: 100%;
    padding: 0.625rem;
  }
}

.p-about__item-title {
  font-size: 28px;
  font-size: 1.75rem;
}

.p-about__desc {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #636363;
  margin-top: 16px;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .p-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-card-list__item:not(:first-child) {
  display: block;
  margin-top: 21px;
  margin-top: 1.3125rem;
}

@media screen and (min-width: 768px) {
  .p-card-list__item:not(:first-child) {
    margin-top: 0;
  }
}

.p-card-list__item {
  margin-top: 21px;
  margin-top: 1.3125rem;
}

@media screen and (min-width: 768px) {
  .p-card-list__item {
    max-width: calc(33.3333% - 1.04167rem);
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-card-list__item + .p-card-list__item {
    margin-left: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .p-card-list__item:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-card-list__item:nth-child(n + 4) {
    margin-top: 1.5625rem;
  }
}

.p-contact {
  padding: 80px 0;
  padding: 5rem 0;
}

.p-contact__text {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #636363;
  text-align: center;
}

.p-contact__wrapper {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.btn {
  padding: 6px 30px;
  padding: 0.375rem 1.875rem;
}

.btn-custom-2 {
  background: #fdb45a;
  border-radius: 3px;
  color: #fff;
}

.p-drawer-menu {
  background-color: rgba(34, 34, 34, .95);
  display: none;
  height: 100vh;
  margin-left: auto;
  max-width: 520px;
  max-width: 32.5rem;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.p-drawer-menu__logo {
  margin: auto;
  padding-top: 180px;
  padding-top: 11.25rem;
  width: 68px;
  width: 4.25rem;
}

.p-drawer-menu__items {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-drawer-menu__item a {
  color: #fff;
  display: block;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
  padding: 15px 0;
  padding: 0.9375rem 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.p-footer {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  padding: 20px 0;
  padding: 1.25rem 0;
  text-align: center;
  color: #d6d6d6;
  background: #333;
}

.p-header {
  background: rgba(245, 245, 245, .3);
  padding: 20px 0;
  padding: 1.25rem 0;
  -webkit-transition: ease .1s;
  transition: ease .1s;
}

.p-header.headerColor {
  background: #fff;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.p-header__inner {
  padding: 0 20px;
  padding: 0 1.25rem;
}

.p-header__logo {
  display: block;
  height: auto;
  width: 189px;
  width: 11.8125rem;
}

.p-header__drawer {
  position: absolute;
  right: 20px;
  right: 1.25rem;
  top: 28px;
  top: 1.75rem;
}

.p-header__menu {
  left: 0;
  overflow: scroll;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.p-header__overlay {
  background-color: rgba(34, 34, 34, .6);
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.p-mv {
  height: 100vh;
  position: relative;
  z-index: -100;
}

.p-mv__video {
  height: 100vh;
}

.p-mv__wrapper {
  position: absolute;
  width: 100vw;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-mv__wrapper h1 {
  font-size: 32px;
  font-size: 2rem;
  color: #FFF;
  font-family: "Varela Round", sans-serif;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="10" /><feOffset dx="2" dy="2" result="offsetblur" /><feFlood flood-color="rgba(192,192,192,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(1px 1px 10px #c0c0c0);
          filter: drop-shadow(1px 1px 10px #c0c0c0);
}

@media screen and (min-width: 768px) {
  .p-mv__wrapper h1 {
    font-size: 2.625rem;
  }
}

.p-mv__typed::after {
  content: "|";
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.p-works {
  padding: 80px 0;
  padding: 5rem 0;
}

.p-works-card__img {
  padding-top: 61.7142857%;
  position: relative;
}

.p-works-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

.p-works-card__img:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #111111;
  opacity: 0.2;
}

.p-works-card__body {
  background: #fff;
  padding: 4px 24px 16px;
  padding: 0.25rem 1.5rem 1rem;
  color: #636363;
}

@media screen and (min-width: 768px) {
  .p-works-card__body {
    padding: 0.5625rem 1.5rem 1rem;
  }
}

.p-works-card:hover .p-works-card__body {
  background: #333;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.p-works-card__title {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.8px;
  line-height: 1.95;
  font-weight: 500;
}

.p-works-card__text {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  line-height: 1.85;
  font-weight: 400;
  margin-top: 4px;
  margin-top: 0.25rem;
}
